*{
    margin: 0;
    padding: 0;
}
body{
    font-family:sans-serif;
    font-size: 20px;
    background-size: cover;
    height: 100vh;
    background-color: rgba(12,27 ,164 ,1);
    background: linear-gradient(rgba(57,255,243,1),rgba(0,16,171,0.96));
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: whitesmoke;
    border: whitesmoke;
    border-radius: 10px;
    
}
.head{
    text-align: center;
    padding: 12px 12px 0px;
}
.num{
    text-align: center;
    color: rgba(0,16,171,0.96);
    text-shadow:rgba(57,255,243,1) ;
    font-size: 70px;
}
.button{
    text-align: center;
}